body{
    height: 2000px;
    background: linear-gradient(white,rgb(220, 209, 193), rgb(214, 199, 173), rgb(193, 150, 77))
}
#text{
    align-items: left;
    top: 25%;
    float: left;
    width: 50%;
    height:50%;


}
#images{
    align-self: right;
    float: right;
    display: block;
    margin-left:0%;
    margin-right:50%;
    max-width: 100%;
    height: auto;

}