body{
    text-align: center;
    background-color: rgb(238, 233, 202);
}
#reason{
    height: 80px;

}
#welcomediv{
    text-align: right;
    max-width: 100%;
    max-height: 100%;
    align-items: right;

}
/* img{
    max-width: 100%;
    display: block;
} */
.project-slideshow{
    /* width:60%;
    height:60%; */
    border: 5px solid black; 
    float:left; 
    display:inline; 
    width: 49%;
}
#example{
    /* width: 40%;
    height:40%;
    align-self:left; */
    float:left; 
    display:inline; 
    width: 49%;
}

h5{
    color:black;
    
}
.carousel{
    padding: 50px;
}
.logo{
    width: 100px;
    height:100px;
    
}
#logos{
    position:fixed;
    bottom: 0;

    /* And if you want the div to be full-width: */
    left: 0;
    right: 0;
}
#face{
    width: 200 px;
    height: 200 px;
}