body{
    height: 2000px;
    background: linear-gradient(white,rgb(220, 209, 193), rgb(214, 199, 173), rgb(193, 150, 77))
}
#text{
    align-items: left;
    top: 25%;
    float: left;
    width: 50%;
    height:50%;


}
img{
    float:center;
    width: 200px;
    height:200px;
    display: block;
    margin-left:0%;
    margin-right:50%;
    max-width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
#braid{
    width:50px;
    height: 50px;
}
h5{
    color:black;
    background-color:black;

    
}