<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nadia's Portfolio</title>
    <link rel="icon" type="image/x-icon" href="/static/images/trail.svg">
</head>
<body>
    <img href="">
    <t>?pic of database?WonderWalk in run on a Python Flask server with a PostgreSQL database to hold the data.
    <t>?pic of login</t>
    <t>?gif of being placed on map</t>
    <t>?gif of walk generating</t>
    <t>?pic of reflections? </t>
        
</body>
</html>


